BANK
    <div fxLayout="column">
        <mat-card fisstyle>
            <mat-card-header>
                <mat-card-title class="mat-title" color="primary">Welcome,user.userName</mat-card-title>
                <mat-card-content id="lblLastLogIn">
                    Last Logged In: 
                </mat-card-content>
            </mat-card-header>
        </mat-card>
    
        <mat-card fisstyle>
            <ruf-banner rufId="recentJobs" color="primary">
                <h2 class="bannerPlaceholder">Recent Jobs</h2>
            </ruf-banner>
            <div rufMargin class="nofiles">
            
              
            </div>
        </mat-card>
    
        <mat-card fisStyle>
            <ruf-banner rufId="recentFH" color="primary">
                <h2 class="bannerPlaceholder">Files On Hold</h2>
            </ruf-banner>
            <div rufMargin class="nofiles">
               
            </div>
        </mat-card>
    </div>
    <!-- </ruf-app-canvas> -->